@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, bumblebee;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}



@utility bottom-nav {
  @apply fixed bottom-0 left-0 right-0 border-t border-gray-200 w-full mx-auto;
}

@utility bottom-nav-item {
  @apply flex flex-col items-center py-2 px-3 text-gray-400  hover:text-blue-700 focus:ring-blue-500;

  &.active {
    @apply text-blue-700;
  }
}

@utility top-nav {
  @apply fixed top-[58px] left-0 right-0 border-b border-gray-200 max-w-md mx-auto;
}

@utility top-nav-item {
  @apply flex flex-col items-center py-2 px-3 text-gray-400  hover:text-blue-700 focus:ring-blue-500;

  &.active {
    @apply text-blue-700;
  }
}