@import "tailwindcss";
@import "react-day-picker/style.css";
@plugin "daisyui" {
  themes: silk --default, silk --prefersdark;
  root: ":root";
}

@theme {
  --color-primary-50: oklch(0.966 0.007 247.896);
  --color-primary-100: oklch(0.935 0.013 247.896);
  --color-primary-200: oklch(0.885 0.024 247.896);
  --color-primary-300: oklch(0.808 0.041 247.896);
  --color-primary-400: oklch(0.707 0.064 247.896);
  --color-primary-500: oklch(0.579 0.093 247.896);
  --color-primary-600: oklch(0.488 0.106 247.896);
  --color-primary-700: oklch(0.407 0.098 247.896);
  --color-primary-800: oklch(0.339 0.082 247.896);
  --color-primary-900: oklch(0.298 0.066 247.896);
  --color-primary-950: oklch(0.198 0.046 247.896);


  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --radius-xl: 0.75rem;
  --radius-2xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-base-100 text-base-content font-sans antialiased selection:bg-primary/20;
  }
}

main {
  @apply lg:w-[calc(100%-256px)] lg:ml-64 px-5 py-20 min-h-[calc(100vh-128px)];
}

@utility bottom-nav {
  @apply fixed bottom-0 left-0 right-0 border-t border-base-300/50 bg-base-100/80 backdrop-blur-md w-full mx-auto max-w-md z-50 transition-all duration-300;
}

@utility bottom-nav-item {
  @apply flex flex-col items-center py-3 px-3 text-base-content/50 hover:text-primary transition-all duration-200 active:scale-90;

  &.active {
    @apply text-primary font-semibold;
  }
}

@utility top-nav {
  @apply fixed top-0 left-0 right-0 border-b border-base-300/50 bg-base-100/80 backdrop-blur-md w-full lg:ml-64 z-50;
}

@utility top-nav-item {
  @apply flex items-center py-4 px-3 text-base-content/50 hover:text-primary transition-colors;

  &.active {
    @apply text-primary font-semibold;
  }
}

@utility input {
  @apply focus-visible:outline-none! focus-visible:ring-0!;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}